<html>
    <head>
        <title>Blog App</title>
        <head>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        <link type="text/css" rel="stylesheet" href="/stylesheets/app.css">
        </head>
    </head>
    <body>
        <div class="ui pointing inverted menu">
            <div class="header item"><i class="paper plane icon"></i>Blog Site</div>
            <a href="/" class="item">Home</a>
            <a href="/blogs/new" class="item">New Post</a>
        </div>

