.index-nav {
    position: absolute;
    width: 100%;
    z-index: 999;
    background: none;
}

.carousel-item img {
    max-height: 500px;
}

.subscription {
    background-color: #f0f0f0; 
}

.subscripe-form {
    display: inline;
}

.index-blog-post {
    position: relative;
    text-align: center;
}

.index-blog-post-description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    height: 50px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer h5 {
    display: inline;
}